In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd() # dirname(abspath(__file__)) jupyter notebook doesn't support __file__
print(cwd)

C:\Users\charmz\Desktop\Hands-On Projects\30-Days-of-Python\Day 18\notebooks

In [3]:
BASE_DIR = os.path.dirname(cwd)
print(BASE_DIR)
DATA_DIR = os.path.join(BASE_DIR,"data")

C:\Users\charmz\Desktop\Hands-On Projects\30-Days-of-Python\Day 18

In [4]:
print(DATA_DIR)

C:\Users\charmz\Desktop\Hands-On Projects\30-Days-of-Python\Day 18\data

In [5]:
os.listdir(DATA_DIR)

['2000.csv',
 '2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv']

In [6]:
my_items = [{"category":"Action","title":"My awesome movie"},{"category":"Comedy","title":"Home Alone"}]

df = pd.DataFrame(my_items)

In [7]:
df

  category             title
0   Action  My awesome movie
1   Comedy        Home Alone

In [8]:
df['category'] # return column values

0    Action
1    Comedy
Name: category, dtype: object

In [9]:
df['title'] # return column values

0    My awesome movie
1          Home Alone
Name: title, dtype: object

In [10]:
df.iloc[0] # return row index values

category              Action
title       My awesome movie
Name: 0, dtype: object

In [11]:
df.iloc[1]  # return row index values

category        Comedy
title       Home Alone
Name: 1, dtype: object

In [12]:
#load csv approach #1
df00 = pd.read_csv(f'{DATA_DIR}/2000.csv')

In [13]:
df00.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Mission: Impossible II,"$546,388,108","$215,409,889",39.4%,"$330,978,219",60.6%
1,2,Gladiator,"$460,583,960","$187,705,427",40.8%,"$272,878,533",59.2%
2,3,Cast Away,"$429,632,142","$233,632,142",54.4%,"$196,000,000",45.6%
3,4,What Women Want,"$374,111,707","$182,811,707",48.9%,"$191,300,000",51.1%
4,5,Dinosaur,"$349,822,765","$137,748,063",39.4%,"$212,074,702",60.6%

In [14]:
#load csv approach #2
my_data = os.path.join(DATA_DIR,'2019.csv')
print(os.path.exists(my_data))

True

In [15]:
df2 = pd.read_csv(my_data)
df2.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%

In [ ]:
# combining csv files into one