In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd() # dirname(abspath(__file__)) jupyter notebook doesn't support __file__

In [24]:
BASE_DIR = os.path.dirname(cwd)
#print(BASE_DIR)
DATA_DIR = os.path.join(BASE_DIR,"data")
#print(DATA_DIR)
CACHE_DIR = os.path.join(BASE_DIR,"cache")
os.makedirs(CACHE_DIR,exist_ok=True)

In [4]:
for file in os.listdir(DATA_DIR):
    print(file)

2000.csv
2001.csv
2002.csv
2003.csv
2004.csv
2005.csv
2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv

In [5]:
df03 = pd.read_csv(f"{DATA_DIR}/2003.csv")

In [6]:
df03.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Lord of the Rings: The Return of the King,"$1,140,444,782","$377,027,325",33.1%,"$763,417,457",66.9%
1,2,Finding Nemo,"$871,014,978","$339,714,978",39%,"$531,300,000",61%
2,3,The Matrix Reloaded,"$739,412,035","$281,576,461",38.1%,"$457,835,574",61.9%
3,4,Pirates of the Caribbean: The Curse of the Bla...,"$654,264,015","$305,413,918",46.7%,"$348,850,097",53.3%
4,5,Bruce Almighty,"$484,592,874","$242,829,261",50.1%,"$241,763,613",49.9%

In [7]:
df03['Year'] = 2003

In [8]:
df03.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,The Lord of the Rings: The Return of the King,"$1,140,444,782","$377,027,325",33.1%,"$763,417,457",66.9%,2003
1,2,Finding Nemo,"$871,014,978","$339,714,978",39%,"$531,300,000",61%,2003
2,3,The Matrix Reloaded,"$739,412,035","$281,576,461",38.1%,"$457,835,574",61.9%,2003
3,4,Pirates of the Caribbean: The Curse of the Bla...,"$654,264,015","$305,413,918",46.7%,"$348,850,097",53.3%,2003
4,5,Bruce Almighty,"$484,592,874","$242,829,261",50.1%,"$241,763,613",49.9%,2003

In [12]:
dataframes = []
csv_files = [file for file in os.listdir(DATA_DIR) if file.endswith('.csv')] # make sure directory contains csv files only
for file in csv_files:
    #print(file)
    #year = file.replace('.csv','')
    csv_path = os.path.join(DATA_DIR,file)
    this_df = pd.read_csv(csv_path)
    #this_df['Year'] = year
    this_df['Year'] = file.split('.')[0]
    #print(this_df.head(1))
    dataframes.append(this_df)

In [18]:
my_entire_dataframe = pd.concat(dataframes)
my_entire_dataframe.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,Mission: Impossible II,"$546,388,108","$215,409,889",39.4%,"$330,978,219",60.6%,2000
1,2,Gladiator,"$460,583,960","$187,705,427",40.8%,"$272,878,533",59.2%,2000
2,3,Cast Away,"$429,632,142","$233,632,142",54.4%,"$196,000,000",45.6%,2000
3,4,What Women Want,"$374,111,707","$182,811,707",48.9%,"$191,300,000",51.1%,2000
4,5,Dinosaur,"$349,822,765","$137,748,063",39.4%,"$212,074,702",60.6%,2000

In [26]:
dataset = os.path.join(CACHE_DIR,'movies-box-office-dataset.csv')
my_entire_dataframe.to_csv(dataset,index=False)

In [23]:
my_entire_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10110 entries, 0 to 31
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           10110 non-null  int64
 1   Release Group  10110 non-null  object
 2   Worldwide      10110 non-null  object
 3   Domestic       10110 non-null  object
 4   %              10110 non-null  object
 5   Foreign        10110 non-null  object
 6   %.1            10110 non-null  object
 7   Year           10110 non-null  object
dtypes: int64(1), object(7)
memory usage: 710.9+ KB

In [19]:
# Combining the csv files using the glob library # approach 2
from glob import glob

In [20]:
movie_files = sorted(glob(f'{DATA_DIR}/2*.csv'))
movie_files

['C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2000.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2001.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2002.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2003.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2004.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2005.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2010.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2011.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2012.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2013.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2014.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2015.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2016.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2017.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2018.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2019.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2020.csv']

In [22]:
movie_db = pd.concat((pd.read_csv(file) for file in movie_files))