In [5]:
!pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/f1/e1/56bf2e1b92ce1361169aff7ba0316d211339cc8e2737f5f2e7a5930c9574/pandas-1.1.0-cp38-cp38-win_amd64.whl
Collecting numpy>=1.15.4 (from pandas)
  Using cached https://files.pythonhosted.org/packages/c7/7d/ea9e28c3a99f50e77ee9a0e3759adb6537b2bb7a84aef27b8c0ddc431b48/numpy-1.19.1-cp38-cp38-win_amd64.whl
Collecting pytz>=2017.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\charmz\desktop\hands-on projects\30-days-of-python\day 25\dbs\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\charmz\desktop\hands-on projects\30-days-of-python\day 25\dbs\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pytz, pandas

WARNING: You are using pip version 19.2.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Successfully installed numpy-1.19.1 pandas-1.1.0 pytz-2020.1

In [1]:
import pickle

In [6]:
import pandas as pd

In [2]:
data = [{"name":"Shaban"}]

with open("users.pkl","wb") as f:
    pickle.dump(data,f) #--->pickle.dump

In [4]:
data_frm_pkl = pickle.load(open('users.pkl','rb'))
print(data_frm_pkl,type(data_frm_pkl)) #--->pickle.load

[{'name': 'Shaban'}] <class 'list'>

In [7]:
df = pd.DataFrame(data)
df

     name
0  Shaban

In [8]:
df.to_pickle("df_pkl")

In [9]:
df2 = pd.read_pickle('df_pkl')
df2

     name
0  Shaban

In [10]:
df2.to_csv("my_df.csv",index=False)

## SQLAlchemy

SQLAlchemy & Django have a simila object-relational mappings (aka ORM) are ways to connect Python to a SQL database.

In [29]:
from dataclasses import dataclass

@dataclass
class Movie:
    name:str='Unknown'
    genre:str='Action'
    year:int=None

# class Movie:
#     name='Unknown'
#     genre='Action'
#     def __init__(self,name='',*args,**kwargs):
#         super().__init__(*args,**kwargs)
#         self.name = name

In [30]:
movie_obj = Movie(name='Interstellar',genre='Sci-Fi')

In [26]:
movie_obj.name

'Interstellar'

In [32]:
movie_obj.genre

'Sci-Fi'

In [ ]:
data = [{
    'name' : 'Interstellar',
    'genre' : 'Sci-Fi' 
},
{
    'name' : 'Star Wars',
    'genre' : 'Sci-Fi'
},{
    'name' : 'Alita',
    'genre' : 'Sci-Fi'
}]