In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd() # dirname(abspath(__file__)) jupyter notebook doesn't support __file__

In [3]:
BASE_DIR = os.path.dirname(cwd)
#print(BASE_DIR)
DATA_DIR = os.path.join(BASE_DIR,"data")
#print(DATA_DIR)

In [4]:
for file in os.listdir(DATA_DIR):
    print(file)

2000.csv
2001.csv
2002.csv
2003.csv
2004.csv
2005.csv
2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv

In [5]:
df03 = pd.read_csv(f"{DATA_DIR}/2003.csv")

In [6]:
df03.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Lord of the Rings: The Return of the King,"$1,140,444,782","$377,027,325",33.1%,"$763,417,457",66.9%
1,2,Finding Nemo,"$871,014,978","$339,714,978",39%,"$531,300,000",61%
2,3,The Matrix Reloaded,"$739,412,035","$281,576,461",38.1%,"$457,835,574",61.9%
3,4,Pirates of the Caribbean: The Curse of the Bla...,"$654,264,015","$305,413,918",46.7%,"$348,850,097",53.3%
4,5,Bruce Almighty,"$484,592,874","$242,829,261",50.1%,"$241,763,613",49.9%

In [7]:
df03['Year'] = 2003

In [8]:
df03.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,The Lord of the Rings: The Return of the King,"$1,140,444,782","$377,027,325",33.1%,"$763,417,457",66.9%,2003
1,2,Finding Nemo,"$871,014,978","$339,714,978",39%,"$531,300,000",61%,2003
2,3,The Matrix Reloaded,"$739,412,035","$281,576,461",38.1%,"$457,835,574",61.9%,2003
3,4,Pirates of the Caribbean: The Curse of the Bla...,"$654,264,015","$305,413,918",46.7%,"$348,850,097",53.3%,2003
4,5,Bruce Almighty,"$484,592,874","$242,829,261",50.1%,"$241,763,613",49.9%,2003

In [9]:
#my_dataframe = pd.DataFrame()
csv_files = [file for file in os.listdir(DATA_DIR) if file.endswith('.csv')] # make sure directory contains csv files only
for file in csv_files:
    print(file)
    #year = file.replace('.csv','')
    csv_path = os.path.join(DATA_DIR,file)
    this_df = pd.read_csv(csv_path)
    #this_df['Year'] = year
    this_df['Year'] = file.split('.')[0]
    print(this_df.head(1))

2000.csv
   Rank           Release Group     Worldwide      Domestic      %  \
0     1  Mission: Impossible II  $546,388,108  $215,409,889  39.4%

        Foreign    %.1  Year
0  $330,978,219  60.6%  2000
2001.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Sorcerer's Stone  $974,755,371  $317,575,550

       %       Foreign    %.1  Year
0  32.6%  $657,179,821  67.4%  2001
2002.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  The Lord of the Rings: The Two Towers  $936,689,735  $339,789,881

       %       Foreign    %.1  Year
0  36.3%  $596,899,854  63.7%  2002
2003.csv
   Rank                                  Release Group       Worldwide  \
0     1  The Lord of the Rings: The Return of the King  $1,140,444,782

       Domestic      %       Foreign    %.1  Year
0  $377,027,325  33.1%  $763,417,457  66.9%  2003
2004.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1       Shrek 2  $928,760,770  $441,226,247  47.5%  $487,534,523  52.5%

   Year
0  2004
2005.csv
   Rank                        Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Goblet of Fire  $895,921,036  $290,013,036

       %       Foreign    %.1  Year
0  32.4%  $605,908,000  67.6%  2005
2010.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1   Toy Story 3  $1,066,969,703  $415,004,880  38.9%  $651,964,823

     %.1  Year
0  61.1%  2010
2011.csv
   Rank                                 Release Group       Worldwide  \
0     1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219

       Domestic      %       Foreign    %.1  Year
0  $381,011,219  28.4%  $960,500,000  71.6%  2011
2012.csv
   Rank Release Group       Worldwide      Domestic    %       Foreign  %.1  \
0     1  The Avengers  $1,518,812,988  $623,357,910  41%  $895,455,078  59%

   Year
0  2012
2013.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1        Frozen  $1,280,802,282  $400,738,009  31.3%  $880,064,273

     %.1  Year
0  68.7%  2013
2014.csv
   Rank                    Release Group       Worldwide      Domestic      %  \
0     1  Transformers: Age of Extinction  $1,104,054,072  $245,439,076  22.2%

        Foreign    %.1  Year
0  $858,614,996  77.8%  2014
2015.csv
   Rank                               Release Group       Worldwide  \
0     1  Star Wars: Episode VII - The Force Awakens  $2,068,223,624

       Domestic      %         Foreign    %.1  Year
0  $936,662,225  45.3%  $1,131,561,399  54.7%  2015
2016.csv
   Rank               Release Group       Worldwide      Domestic      %  \
0     1  Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%

        Foreign    %.1  Year
0  $745,211,944  64.6%  2016
2017.csv
   Rank                            Release Group       Worldwide  \
0     1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889

       Domestic      %       Foreign    %.1  Year
0  $620,181,382  46.5%  $712,358,507  53.5%  2017
2018.csv
   Rank           Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1  Year
0  $1,369,544,272  66.9%  2018
2019.csv
   Rank      Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Endgame  $2,797,800,564  $858,373,000  30.7%

          Foreign    %.1  Year
0  $1,939,427,564  69.3%  2019
2020.csv
   Rank      Release Group     Worldwide      Domestic      %       Foreign  \
0     1  Bad Boys for Life  $419,074,646  $204,417,855  48.8%  $214,656,791

     %.1  Year
0  51.2%  2020

In [19]:
# Combining the csv files using the glob library # approach 2
from glob import glob

In [20]:
movie_files = sorted(glob(f'{DATA_DIR}/2*.csv'))
movie_files

['C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2000.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2001.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2002.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2003.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2004.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2005.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2010.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2011.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2012.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2013.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2014.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2015.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2016.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2017.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2018.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2019.csv',
 'C:\\Users\\charmz\\Desktop\\Hands-On Projects\\30-Days-of-Python\\Day 18\\data\\2020.csv']

In [22]:
movie_db = pd.concat((pd.read_csv(file) for file in movie_files))